h1{ 
    background-color: darkturquoise;
    color: #FFF;
    font-size: 2rem;
}

.seleccion{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

li{
    margin-top: 1rem;
    border-bottom:1px solid grey;
}

#gallery img{
   filter: opacity(.2);
}

#gallery img.selected {
    filter: grayscale(0);
}